* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}
h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.link,
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}
.title {
  font-size: 50px;
  line-height: 50px;
  color: #000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: 18px;
  font-weight: normal;
  line-height: 30px;
  background-color: #fff;
  color: #444;
  margin: 0;
}
.main-container {
  flex-grow: 1;
  margin-top: 40px;
}
.header-container {
  width: 1160px;
  margin: 0 auto;
  background-color: #FFE17F;
}
.main-search input {
  width: 480px;
  margin-left: 36px;
}
.header-logo {
  margin-left: 42.5px;
  margin-bottom: 35px;
}
.header-inner {
  display: flex;
  width: 1075px;
  margin: 0 auto;
}
.header-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-bottom: 45px;
}
.header-list-link {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
.header-list-item:first-child{
  width: 245px;
  padding-left: 25px;
}
.header-list-item:nth-last-of-type(2) {
  width: 120px;
  padding-left: 20px;
}
.header-list-item:last-child {
  width: 140px;
  padding-left: 30px;
}
.navigation {
  width: 1075px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-item {
  width: 140px;
  padding-right: 19px;
}
.navigation-item:first-child {
  width: 236px;
  padding-right: 304px;
}
.navigation-item:last-child {
  padding-left: 62px;
}
.navigation-link {
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000;
}
.promo {
  margin-bottom: 70px;
}
.promo-title {
  margin-bottom: 20px;
}
.promo-text {
  margin-bottom: 30px;
}
.promo-description {
  display: flex;
}
.services {
  margin-bottom: 140px;
}
.services-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.services-item {
  width: 160px;
  padding-right: 40px;
}
.services-item:last-child {
  padding-right: 0;
}
.services-item-img {
  width: 160px;
  height: 160px;
  background-image: url(../img/services/services-1.png);
  background-color: #FFE17F;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  margin-right: 40px;
}
.services-item-img-2 {
  background-image: url(../img/services/services-2.png);
}
.services-item-img-3 {
  background-image: url(../img/services/services-3.png);
}
.services-item-img-4 {
  background-image: url(../img/services/services-4.png);
}
.services-item-img-5 {
  background-image: url(../img/services/services-5.png);
}
.services-item-img-6 {
  background-image: url(../img/services/services-6.png);
  margin-right: 0;
}
.services-item-img img {
  display: none;
}
.services-link {
  display: block;
  width: 160px;
}
.about-us-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.inner-header {
  padding-top: 35px;
}
.catalog-title {
  margin-bottom: 15px;
}
.catalog-products {
  display: flex;
}
.catalog-filter-group {
  width: 200px;
  margin: 0;
  padding: 0;
}
.catalog-filter-btn {
  width: 200px;
}
.sortyng-type {
  width: 386px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.catalog-list-link {
  display: block;
  margin-right: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
}
.catalog-list-link:last-child {
  margin-right: 0;
}
.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000;
}
.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.catalog-filter-btn {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.catalog-main .container {
  padding-left: 60px;
}
.product-card-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-card-item {
  display: grid;
  grid-template-columns: 280px 15px 65px;
  grid-template-rows: 380px 30px 50px;
  width: 360px;
  margin-bottom: 45px;
}
.product-card-image {
  grid-column: 1 / -1;
}
.product-card-title {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: block;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.product-card-link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: none;
  margin-bottom: 30px;
}
.product-card-price {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  font-weight: normal;
}
.product-card-info {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.pagination-inner {
  width: 760px;
  display: flex;
  justify-content: space-between;
  background-color: #EBEBEB;
  margin-bottom: 75px;
}
.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  padding: 27px 30px 24px 29px;
  list-style: none;
}
.pagination-show-more,
.pagination-link {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.pagination-show-more {
  width: 100%;
  padding: 18px 0;
  margin-bottom: 50px;
  border: 3px solid #e5e5e5;
  background-color: #fff;
}
.pagination-link-number,
.pagination-triple-point {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  opacity: 0.3;
  text-decoration: none;
  margin-right: 30px;
  color: #444;
}
.pagination-link-number-last {
  margin-right: 0;
}
.pagination-prev {
  align-self: center;
  margin-left: 30px;
}
.pagination-next {
  align-self: center;
  margin-right: 30px;
}
.promo-link {
  display: block;
  width: 220px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 70px;
}
.promo-table th {
  font-size: 36px;
  line-height: 30px;
  color: #000;
  font-weight: normal;
  text-align: left;
}
.promo-table td {
  font-size: 16px;
}
.services-item {
  background-color: #FFE17F;
}
.services-link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.advantages {
  margin-bottom: 100px;
}
.advantages-title {
  margin-bottom: 15px;

}
.advantages-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  background-color: #F0F0F0;
}
.advantages-list,
.advantages-description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-item {
  margin-bottom: 45px;
}
.advantages-item:last-child {
  margin-bottom: 0;
}
.advantages-text {
  width: 500px;
}
.advantages-link {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.advantages-special {
  display: block;
  width: 1160px;
  margin-top: 90px;
  padding-left: 250px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #F0F0F0;
}
.about-us {
  width: 500px;
  margin-right: auto;
  margin-bottom: 90px;
}
.contacts {
  width: 500px;
}
.about-us-title,
.contacts-title {
  margin-bottom: 25px;
}
.about-us-text,
.contacts-text {
  margin-bottom: 30px;
}
.about-us-text-second {
  margin-bottom: 70px;
}
.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 70px;
}
.about-us-link {
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.contacts-subtitle,
.contacts-working-time {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #444;
  margin-bottom: 15px;
}
.contacts-adress-text {
  font-style: normal;
  margin-bottom: 30px;
}
.contacts-adress-text .contacts-phone {
  color: #444;
}
.contacts-schedule {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}
.contacts-link {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.destribution {
  background-color: #F0F0F0;
  padding-bottom: 135px;
}
.destribution-container {
  display: flex;
  justify-content: space-between;
}
.destribution-title {
  width: 400px;
  padding-top: 75px;
  margin-bottom: 40px;
}
.destribution-text {
  width: 560px;
  padding-top: 85px;
}
.newsletter-form {
  display: grid;
  grid-template-columns: 600px 260px 300px;
}
.field {
  width: 100%;
  border: 3px solid transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  padding: 25px 0;
  background-color: #F0F0F0;
  outline: none;
}
.newsletter-button {
  width: 260px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 17.5px 0;
  margin-left: -1.5px;
}
.destribution-span {
  display: block;
  width: 165px;
  color: #444444;
  text-align: end;
  margin-left: auto;
  padding: 20.25px 0;
}
.main-footer {
  background-color: #444444;
  padding-top: 60px;
}
.footer-logo {
  margin-bottom: 35px;
}
.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-address {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-style: normal;
  margin-bottom: 65px;
}
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 460px;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.footer-socials-list {
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.footer-nav-link {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}
.footer-right-text {
  font-size: 16px;
  color: #fff;
  text-align: right;
  margin-bottom: 70px;
}
