* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}
h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.link,
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}
.title {
  font-size: 50px;
  line-height: 50px;
  color: #000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  background-color: #fff;
  color: #444;
  margin: 0;
}
.main-container {
  flex-grow: 1;
  margin-top: 39px;
}
.header-container {
  width: 1160px;
  margin: 0 auto;
  background-color: #FFE17F;
  padding-bottom: 118px;
}
.main-catalog {
  margin-bottom: 37px;
  margin-top: 41px;
  margin-left: -4px;
}
.header-catalog-container {
  width: 1160px;
  padding-bottom: 4px;
  margin: 0 auto;
  background-color: #FFE17F;
}
.main-search {
  width: 516px;
  display: flex;
  align-items: center;
}
.main-search:focus-within {
  box-shadow: 0 0 0 2px #AF4FFF;
  border-radius: 20px;
}
.main-search:active {
  box-shadow: 0 0 0 2px #000;
}
.main-search:active .search-btn {
  display: block;
}
.search-btn {
  display: none;
  font-size: 16px;
  line-height: 19px;
  width: 160px;
  text-align: center;
  padding: 8px 0;
  background-color: transparent;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.search-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.search-btn:hover {
  background-color: #000;
  color: #fff;
}
.search-btn:active {
  background-color: #000;
  color: #fff;
  opacity: 0.3;
}
.header-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  width: 356px;
  padding: 10px 0;
  padding-left: 50px;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center left 14px;
  background-size: 16px 16px;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}
.header-search:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header-logo {
  position: relative;
  top: -23px;
  left: 59px;
}
.header-inner {
  display: flex;
  margin-left: 45px;
  margin-top: -6px;
  margin-bottom: 25px;
}
.header-list {
  display: flex;
  width: 565px;
  align-content: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 36px;
}
.header-list-link {
  border-radius: 20px;
  padding: 10px 25px 10px 10px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
.header-log-out {
  padding-left: 0;
  color: rgba(0, 0, 0, 0.3);
}
.header-list-link:hover {
  opacity: 0.6;
}
.header-list-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.header-list-link:active {
  opacity: 0.3;
}
.header-log-out:focus {
  outline: none;
  box-shadow: none;
}
.header-list-item {
  position: relative;
  align-self: center;
}
.header-list-item:first-child {
  margin-right: auto;
  margin-left: 22px;
}
.header-list-item:nth-of-type(2) {
  margin-right: 15px;
}
.enter-svg {
  margin-right: 8px;
  margin-left: 7px;
}
.compare-svg {
  margin-right: 6px;
}
.header-link-cart::before {
  content: '2';
  position: absolute;
  left: 0;
  top: 5px;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cart-svg {
  margin-left: 5px;
  margin-right: 5px;
}
.popover {
  position: absolute;
  top: 38px;
  right: -55px;
  z-index: 1;
  width: 320px;
  background-color: #000;
  min-height: 302px;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}
.popover-open {
  display: block;
}
.popover::after {
  content: '';
  top: -5px;
  right: 156px;
  position: absolute;
  width: 14px;
  height: 6px;
  background-image: url(../img/popover/popover-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.popover-content {
  position: relative;
  padding: 20px;
}
.popover-content + .popover-content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.popover-link {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  color: #fff;
}
.popover-link:hover {
  opacity: 0.6;
}
.popover-link:focus {
  outline: none;
  color: #AF4FFF;
}
.popover-link:focus .popover-img {
  box-shadow: 0 0 0 5px #AF4FFF;
}
.popover-link:active {
  opacity: 0.3;
}
.popover-text {
  width: 180px;
  margin-left: 23px;
  margin-top: 2px;
}
.close-content-btn {
  position: absolute;
  right: 17px;
  top: 23px;
  width: 11px;
  height: 11px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 9px;
  border-radius: 50%;
}
.close-content-btn::after {
  position: absolute;
  content: '';
  right: 2px;
  left: 2px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
}
.close-content-btn::before {
  position: absolute;
  content: '';
  right: 2px;
  left: 2px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.close-content-btn:hover {
  opacity: 0.6;
}
.close-content-btn:active {
  opacity: 0.3;
}
.close-content-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.close-content-btn:active {
  opacity: 0.3;
}
.popover-products {
  display: flex;
  padding: 13px 20px;
  justify-content: space-between;
  background-color: #1a1a1a;
}
.popover-btn-inner {
  margin: 19px 20px;
}
.popover-btn {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  border: none;
  padding: 14px 15px;
  background-color: #fff;
  cursor: pointer;
}
.popover-btn:hover {
  background-color: #FFE17F;
}
.popover-btn:focus {
  outline: 5px solid #AF4FFF;
}
.popover-btn:active {
  background-color: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
}
.navigation {
  position: relative;
  display: flex;
  margin-left: 20px;
  margin-bottom: 38px;
}
.navigation-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 21px;
}
.navigation-catalog-link {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 10.5px 18px;
  border-radius: 25px;
}
.navigation-catalog-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.navigation-catalog-link:hover .navigation-element {
  background-image: url(../img/icons/minus.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  opacity: 1;
  transition: 0.3s;
}
.navigation-catalog-link:active {
  opacity: 0.3;
}
.navigation-element {
  position: absolute;
  right: -50px;
  top: -4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../img/icons/plus.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  border: 2px solid #000;
  opacity: 0.2;
}
.navigation-catalog-item {
  display: flex;
  align-items: center;
}
.navigation-catalog-list::after:hover {
  opacity: 0;
}
.navigation-catalog-inner {
  width: 1160px;
  position: absolute;
  left: -20px;
  top: 79px;
  display: grid;
  grid-template-columns: 200px 163px 200px;
  gap: 39px;
  font-size: 16px;
  line-height: 18px;
  padding-left: 60px;
  padding-bottom: 38px;
  background-color: #FFE17F;
}
.navigation-catalog-show {
  display: none;
}
.navigation-sub {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}
.navigation-sub-item:not(.navigation-sub-item:last-child) {
  margin-bottom: 19px;
}
.navigation-sub-link {
  text-decoration: none;
  font-style: 16px;
  line-height: 18px;
  color: #000;
}
.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 565px;
  margin-left: auto;
  margin-right: 13px;
}
.navigation-item:nth-of-type(2) {
  margin-left: -6px;
}
.navigation-item:last-child {
  margin-left: 55px;
}
.navigation-link {
  display: flex;
  position: relative;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000;
  padding: 10.5px 18px;
  border-radius: 25px;
}
.navigation-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}
.navigation-link:hover::after {
  position: absolute;
  content: '';
  height: 2px;
  right: 21px;
  left: 19px;
  bottom: 3px;
  background-color: #000;
}
.navigation-link:active {
  opacity: 0.3;
}
.promo {
  margin-bottom: 66px;
}
.promo-descr-text {
  position: relative;
  width: 560px;
  margin-top: -28px;
}
.promo-gallery {
  display: flex;
  align-items: center;
  width: 560px;
  position: relative;
  margin-top: -150px;
}
.promo-nav {
  width: 560px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
.slider-button {
  width: 36px;
  height: 76px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.slider-button:hover {
  opacity: 0.3;
}
.slider-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}
.slider-button:active {
  opacity: 0.1;
}
.slider-prev {
 margin-left: 10px;
}
.slider-prev svg {
  transform: rotate(180deg);
}
.slider-next {
 margin-right: 12px;
}
.slider-image {
  display: block;
}
.promo-text-inner {
  position: absolute;
}
.promo-title {
  z-index: 1;
  margin-bottom: 29px;
  position: relative;
}
.slider-number {
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #fff;
  right: 49px;
  top: -40px;
}
.promo-text {
  margin-bottom: 35px;
}
.promo-description {
  display: flex;
  justify-content: space-between;
}
.promo-description:not(.promo-description:first-child) {
  display: none;
}
.services {
  margin-bottom: 173px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -5px;
}
.services-item-img {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #FFE17F;
}
.services-item-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.services-item-img .services-dif-img {
  top: 41px;
}
.services-item-img:hover {
  background-color: #FFC700;
}
.services-item-img:active img {
  opacity: 0.3;
}
.services-link {
  display: block;
  width: 160px;
  border: 5px solid transparent;
  box-sizing: content-box;
}
.services-link:focus {
  outline: none;
}
.services-link:focus .services-item-img {
  box-shadow: 0 0 0 5px#af4fff;
}
.services-link:focus .services-text {
  color: #AF4FFF;
}
.services-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog-title {
  margin-bottom: 17px;
}
.catalog-products {
  display: flex;
}
.catalog-span-inner {
  padding: 20px 0px 20px 128px;
  width: 396px;
  background-color: #dcdcdc;
}
.sorting-type {
  background-color: #ebebeb;
  padding: 22px 72px 21px;
  display: flex;
  align-items: center;
}
.sort-buttons {
  position: absolute;
  right: 74px;
  top: 30px;
  width: 40px;
  display: flex;
  justify-content: space-between;
}
.sort-buttons .button {
  position: relative;
  display: block;
  width: 11px;
  height: 10px;
  transform: rotate(180deg);
}
.button svg {
  position: absolute;
}
.button path {
  fill: rgba(0, 0, 0, 0.3);
}
.button:last-child svg {
  transform: rotate(180deg);
  margin-right: -1px;
}
.button:last-child path {
  fill: #000;
}
.catalog-span {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000;
}
.sorting-span {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000;
  margin-right: 35px;
}
.select-control {
  padding: 3px 40px 5px 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: transparent;
  padding-right: 25px;
  appearance: none;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.select-control:hover {
  opacity: 0.6;
}
.select-control:focus {
  outline: none;
  box-shadow: 0 0 0 5px #AF4FFF;
}
.select-control:active {
  opacity: 0.3;
}
.catalog-products-inner {
  background-color: #e5e5e5;
}
.catalog-filter-inner {
  padding-top: 83px;
}
.catalog-filter {
  margin-left: 125px;
}
.catalog-filter-group {
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
}
.range {
  margin-bottom: 48px;
}
.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
  margin-left: 1px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000;
}
.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #e5e5e5;
  cursor: pointer;
}
.range-toggle:focus {
  outline: none;
  border-color: #AF4FFF;
}
.range-toggle:active {
  background-color: #000;
}
.toggle-min {
  top: -8px;
}
.toggle-max {
  top: -8px;
  right: -10px;
}
.range-wrapper-inputs {
  display: flex;
}
.catalog-filter-label {
  display: flex;
  font-family: 'Rubik', sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}
.catalog-filter-label:first-child {
  margin-right: 63px;
  margin-left: -3px;
}
.range-input {
  font-family: inherit;
  width: 30px;
  padding: 0 2px;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  font-size: 15px;
  line-height: 18px;
  color: inherit;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.control {
  position: relative;
  display: block;
  padding-left: 37px;
}
.control-mark {
  display: flex;
  position: absolute;
  left: 0;
  top: 6px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000;
}
.control-input[type="checkbox"]:checked + .control-mark svg {
  display: block;
}
.control-input[type="checkbox"]:hover + .control-mark {
  border-color: rgba(0, 0, 0, 0.5);
}
.control-input[type="checkbox"]:disabled + .control-mark {
  opacity: 0.1;
}
.control-input[type="checkbox"]:focus + .control-mark {
  border-color: #AF4FFF;
}
.control-input[type="checkbox"]:focus .control {
  color: #AF4FFF;
}
.control-input[type="checkbox"]:focus + .control-mark path {
  fill: #AF4FFF;
}
.control-input[type="checkbox"]:active + .control-mark {
  border-color: rgba(0, 0, 0, 0.2);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark {
  border-color: #000;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}
.control-mark svg {
  display: none;
  align-self: center;
  margin: 0 auto;
}
.inner-header {
  margin-bottom: 44px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -13px;
}
.catalog-list-item {
  position: relative;
  padding-right: 9px;
}
.catalog-list-item::after {
  content: '';
  position: absolute;
  right: 2px;
  top: 13px;
  display: block;
  width: 4px;
  height: 7px;
  background-image: url(../img/arrow-slim.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.catalog-list-item:last-child:after {
  display: none;
}
.catalog-list-link {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 5px 13px;
}
.catalog-list-link:last-child {
  margin-right: 0;
}
.catalog-list-link:focus {
  outline: 5px solid #AF4FFF;
}
.catalog-list-link:hover {
  color: rgba(0, 0, 0, 1);
}
.catalog-list-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 3px;
  margin-bottom: 53px;
}
.catalog-filter-list-radio {
  margin-bottom: 38px;
}
.catalog-filter-item:not(.catalog-filter-item:last-of-type) {
  margin-bottom: 10px;
}
.catalog-filter-title {
  width: 200px;
  position: relative;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000;
}
.catalog-filter-title::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: #000;
  right: -2px;
  left: 2px;
  top: -14px;
}
.catalog-filter-title {
  margin-bottom: 37px;
}
.catalog-filter-color,
.catalog-filter-bluetooth {
  margin-bottom: 22px;
}
.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.catalog-filter-btn {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  margin-left: 4px;
  z-index: 0;
  width: 200px;
  background-color: transparent;
  padding: 10px 0;
}
.catalog-filter-btn::after {
  content: '';
  position: absolute;
  height: 8px;
  right: 0;
  left: 0;
  top: 17px;
  background-color: #FFC700;
  z-index: -1;
}
.catalog-filter-btn:hover {
  background-color: #FFC700;
}
.catalog-main .container {
  padding-left: 57px;
}
.catalog-right-column {
  position: relative;
  flex-grow: 1
}
.product-card-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 41px 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 72px;
  margin-bottom: 44px;
}
.product-card-item {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.product-card-image {
  width: 360px;
  height: 380px;
  margin-bottom: 30px;
}
.product-card-title {
  display: block;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.product-card-link {
  position: relative;
  display: grid;
  grid-template-columns: 276px 14px 66px;
  grid-template-rows: 383px 30px 50px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: none;
}
.card-info-inner {
  display: none;
  position: absolute;
  top: 180px;
  right: 104px;
}
.product-card-link:hover .product-card-image {
  opacity: 0.5;
}
.product-card-link:hover .card-info-inner {
  display: block;
}
.product-card-link:focus {
  outline: none;
  color: #AF4FFF;
}
.product-card-link:focus .product-card-image {
  box-shadow: 0 0 0 5px #AF4FFF;
}
.product-card-link:focus .product-card-title {
  color: #AF4FFF;
}
.product-card-price {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  font-weight: normal;
}
.product-card-info {
  width: 180px;
  border: none;
  position: relative;
  top: -2px;
  right: -1px;
  left: -1px;
  bottom: 0;
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  z-index: 0;
}
.product-card-info::before {
  content: '';
  position: absolute;
  top: 7px;
  right: -14px;
  left: -18px;
  height: 8px;
  background-color: #FFC700;
  z-index: -1;
}
.pagination-inner {
  width: 760px;
  display: flex;
  justify-content: space-between;
  background-color: #EBEBEB;
  margin-bottom: 75px;
  margin-left: 70px;
}
.pagination {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: 52px;
  list-style: none;
}
.pagination-show-more,
.pagination-link {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.pagination-show-more {
  box-sizing: content-box;
  width: 758px;
  padding: 15px 0;
  margin-bottom: 51px;
  border: 3px solid #e5e5e5;
  background-color: #fff;
  margin-left: 70px;
}
.pagination-show-more:focus {
  outline: none;
  border-color: #AF4FFF;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.pagination-show-more:hover {
  border-color: #000;
}
.pagination-show-more:active {
  opacity: 0.3;
}
.pagination-link {
  display: flex;
  align-items: center;
  border: 5px solid transparent;
  padding: 21px 20px;
}
.pagination-prev {
  padding: 21px 25px;
}
.pagination-link:focus {
  outline: none;
  border-color: #AF4FFF;
}
.pagination-link:hover {
  background-color: #DCDCDC;
}
.pagination-link:active {
  opacity: 0.3;
}
.pagination-link-number,
.pagination-triple-point {
  width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: #444;
  opacity: 0.3;
}
.pagination-link-number-last {
  margin-right: 0;
}
.pagination-link-number:focus {
  outline: none;
  box-shadow: 0 0 0 5px #AF4FFF;
}
.pagination-link-number:hover:not(.pagination-current) {
  opacity: 1;
}
.pagination-link-number:active:not(.pagination-current) {
  opacity: 0.1;
}
.slider-descr-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}
.promo-link {
  position: relative;
  width: 220px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  padding: 15px 25px;
  z-index: 0;
}
.promo-link::before {
  content: '';
  position: absolute;
  height: 8px;
  right: 0px;
  left: 0px;
  top: 22px;
  background-color: #FFE17F;
  z-index: -1;
}
.promo-link:focus {
  outline: none;
}
.promo-link:focus::before {
  background-color: #AF4FFF;
}
.promo-link:hover {
  background-color: #FFE17F;
}
.promo-link:active {
  opacity: 0.3;
}
.slider-pagination {
  align-self: center;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 62px;
}
.slider-pagination-item {
  display: flex;
}
.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.slider-pagination-button:hover:not(.slider-pagination-button-current) {
  opacity: 0.6;
}
.slider-pagination-button:focus {
  outline: none;
  border-color: #af4fff;
}
.slider-pagination-button:active:not(.slider-pagination-button-current) {
  opacity: 0.3;
}
.slider-pagination-button-current {
  background-color: #000;
}
.promo-table {
  margin-left: -3px;
}
.promo-table th {
  font-size: 36px;
  line-height: 30px;
  color: #000;
  font-weight: normal;
  text-align: left;
}
.promo-table td {
  font-size: 16px;
  padding-right: 17px;
  padding-top: 8px;
}
.services-item {
  background-color: #FFE17F;
}
.services-link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.advantages {
  margin-bottom: 87px;
  background-color: #F0F0F0;
}
.advantages-title {
  margin-bottom: 33px;
}
.advantages-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 140px;
}
.advantages-list,
.advantages-description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-list {
  position: relative;
  width: 280px;
  margin-top: -18px;
}
.advantages-list::after {
  content: '';
  position: absolute;
  width: 7px;
  top: -79px;
  bottom: -69px;
  right: -3px;
  background-color: #000;
}
.advantages-item {
  position: relative;
  margin-bottom: 24px;
}
.advantages-item:last-child {
  margin-bottom: 0;
}
.advantages-text {
  width: 500px;
}
.advantages-svg {
  position: absolute;
  right: -3px;
  top: 14px;
}
.advantages-link {
  position: relative;
  display: block;
  width: 162px;
  padding: 9px 0;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
}
.advantages-link:focus {
  background-image: url(../img/line-focus.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  outline: none;
}
.advantages-link:hover {
  background-color: #FFC700;
  transition: 0.3s;
}
.advantages-link:active {
  width: 280px;
  padding-right: 120px;
  color: #FFE17F;
  background-color: #000;
  background-image: none;
}
.advantages-description-list {
  width: 690px;
  margin-left: 120px;
  margin-top: -26px;
}
.advantages-description-item {
  position: relative;
}
.advantages-description-item svg:first-child {
  position: absolute;
  right: 0;
  top: 10px;
}
.advantages-special-link {
  display: block;
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 38.5px 0;
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F0F0F0;
  color: #000;
  margin-bottom: 98px;
}
.advantages-special-link::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 125px;
  height: 100px;
  background-image: url(../img/icons/delivery-bus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 47px 31px;
  background-color: #FFE17F;
}
.advantages-info-element {
  position: absolute;
  right: 35px;
  top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}
.advantages-special-svg {
  position: absolute;
  right: 54px;
  top: 44px;
  opacity: 0.3;
  z-index: 1;
}
.advantages-special-link:focus {
  box-shadow: 0 0 0 5px #AF4FFF;
  outline: none;
}
.advantages-special-link:hover {
  background-color: #EBEBEB;
}
.advantages-special-link:hover .advantages-special-svg {
  opacity: 1;
}
.advantages-special-link:hover::before {
  background-color: #FFC700;
}
.advantages-special-link:hover .advantages-info-element {
  background-color: #DCDCDC;
}
.advantages-special-link:active {
  opacity: 0.3;
}
.about-us-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 72px;
}
.about-us {
  width: 500px;
  margin-right: 99px;
}
.contacts {
  width: 515px;
}
.about-us-title,
.contacts-title {
  width: 500px;
  margin-bottom: 45px;
  position: relative;
}
.about-us-title::before,
.contacts-title::before {
  content: '';
  position: absolute;
  height: 7px;
  top: -50px;
  left: -1px;
  right: 420px;
  background-color: #000;
}
.about-us-text,
.contacts-text {
  margin-bottom: 30px;
}
.about-us-text-second {
  margin-bottom: 75px;
}
.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 57px;
}
.about-us-inner {
  margin-top: auto;
  margin-bottom: 85px;
}
.contacts-inner {
  margin-top: auto;
  margin-bottom: 85px;
}
.about-us-link {
  display: block;
  width: 277px;
  position: relative;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px 25px;
  z-index: 0;
}
.about-us-link::before {
  content: '';
  position: absolute;
  height: 8px;
  right: 0px;
  left: 0px;
  top: 22px;
  background-color: #FFE17F;
  z-index: -1;
}
.about-us-link:focus {
  outline: none;
}
.about-us-link:focus::before {
  background-color: #AF4FFF;
}
.about-us-link:hover {
  background-color: #FFE17F;
}
.about-us-link:active {
  opacity: 0.3;
}
.about-us-item {
  position: relative;
  padding-left: 34px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}
.about-us-item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
  left: 0;
  top: 6px;
}
.contacts-subtitle,
.contacts-working-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444;
  margin-bottom: 15px;
}
.contacts-adress-text {
  font-style: normal;
  margin-bottom: 30px;
}
.contacts-adress-text .contacts-phone {
  color: #444;
}
.contacts-schedule {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
}
.contacts-link {
  width: 263px;
}
.about-us-link-left {
  width: 260px;
  padding: 15px 0px;
}
.destribution {
  background-color: #F0F0F0;
  padding-bottom: 130px;
}
.destribution-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}
.destribution-title {
  width: 400px;
  padding-top: 75px;
}
.destribution-text {
  width: 560px;
  padding-top: 85px;
}
.newsletter-form {
  display: grid;
  grid-template-columns: 600px 260px 300px;
}
.field {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  width: 100%;
  border-left: none;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  padding: 9.5px 0;
  background-color: #F0F0F0;
  outline: none;
  font-size: 18px;
  line-height: 30px;
  color: rgb(68, 68, 68, 0.5);
}
.field-invalid {
  border-bottom: 3px solid #FF3D3D;
}
.field:focus {
  background-color: #DCDCDC;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
.field:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  color: rgba(68, 68, 68, 0.7);
}
.field:active {
  border-bottom: 3px solid #000;
}
.newsletter-button {
  width: 260px;
  height: 55.1px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.newsletter-button:focus {
  border: 3px solid #AF4FFF;
  outline: none;
}
.newsletter-button:hover {
  background-color: #000;
  color: #fff;
}
.newsletter-button:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}
.destribution-span {
  display: block;
  width: 165px;
  color: #444444;
  text-align: end;
  margin-left: auto;
  padding: 13px 0;
  padding-right: 1px;
  background-image: url(../img/icons/green-check.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.main-footer {
  background-color: #444444;
  padding-bottom: 44px;
}
.footer-left {
  position: relative;
  padding-top: 62px;
}
.footer-left::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 7px;
  left: -1px;
  bottom: 33px;
  background-color: #FFC700;
}
.footer-logo {
  margin-left: -5px;
  margin-bottom: 27px;
}
.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-address {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-style: normal;
  margin-left: -4px;
}
.footer-middle {
  padding-top: 133px;
}
.footer-socials-list {
  width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 150px;
  padding: 0;
}
.footer-socials-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.footer-socials-link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #AF4FFF;
  background-color: #444444;
}
.footer-socials-link:focus path {
  fill: #fff;
}
.footer-socials-link:hover {
  background-color: #FFC700;
}
.footer-socials-link:active .footer-svg {
  opacity: 0.3;
}
.footer-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 510px;
  flex-wrap: wrap;
  margin-bottom: 57px;
  margin-left: -9px;
}
.footer-nav-item {
  width: 148px;
  margin-right: 7px;
}
.footer-nav-item:last-child {
  margin-right: 0;
}
.footer-nav-link {
  position: relative;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 10.5px 18px;
  border-radius: 25px;
  color: #fff;
}
.footer-nav-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}
.footer-nav-link:hover {
  color: #FFC700;
}
  /*.footer-nav-link:hover::after {
 position: absolute;
  content: '';
  height: 2px;
  right: 21px;
  left: 19px;
  bottom: 3px;
  background-color: #FFC700;
} */
.footer-nav-link:active {
  opacity: 0.3;
}
.footer-right {
  padding-top: 135px;
  margin-right: -13px;
}
.footer-right-text {
  display: block;
  width: 204px;
  padding: 4px 15px 4px 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-align: right;
  margin-bottom: 52px;
  border-radius: 25px;
}
.footer-right-text:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.footer-right-text:hover {
  color: #FFC700;
}
.footer-right-text:active {
  opacity: 0.3;
}
.footer-right-link {
  position: relative;
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 3px;
}
.footer-right-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #AF4FFF;
}
.footer-right-link:hover path {
  fill: #fff;
}
.footer-right-link:active {
  opacity: 0.3;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(229, 229, 229, 0.8);
}
.modal {
  display: none;
  position: relative;
  padding: 63px 70px;
  margin: auto;
  background-color: #fff;
  width: 920px;
  border: 10px solid #000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.modal-container-open {
  display: flex;
}
.modal-open {
  display: block;
}
.modal-close-btn {
  position: absolute;
  padding: 0;
  padding: 19px;
  top: 73px;
  right: 64px;
  background-image: url(../img/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}
.modal-close-btn:hover {
  opacity: 0.6;
}
.modal-close-btn:focus {
  outline: none;
  box-shadow: 0 0 0 5px #AF4FFF;
}
.modal-close-btn:active {
  opacity: 0.3;
}
.modal-group-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
.modal-group-inner:nth-of-type(1) {
  margin-bottom: 14px;
}
.modal-group-inner:nth-of-type(2) {
  margin-bottom: 44px;
}
.modal-group-inner .field-group {
  display: flex;
  flex-direction: column;
}
.modal-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  margin-bottom: 67px;
}
.modal-form-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 14px;
}
.modal-field {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
  border: none;
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.6);
  background-color: #F0F0F0;
}
.modal-field:hover {
  background-color: #ebebeb;
}
.modal-field:focus {
  outline: 5px solid #AF4FFF;
}
.modal-field:active {
  box-shadow: 0 0 0 3px #000;
}
.modal-field:invalid {
  box-shadow: 0 0 0 3px #FF3D3D;
}
.full-name-form-field {
  width: 360px;
  background-image: url(../img/icons/enter-opacity.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
}
.email-form-field {
  width: 360px;
  background-image: url(../img/icons/mail.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
  color: #000;
}
.more-form-field {
  width: 560px;
}
.quantity-form-field {
  width: 160px;
  text-align: center;
  color: #000;
}
.field-span {
  font-size: 14px;
  line-height: 20px;
  padding-top: 6px;
}
.full-name-invalid {
  color: #FF3D3D;
}
.quantity-inner {
  display: flex;
}
.modal-form-quantity {
  position: relative;
}
.quantity-span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  border-radius: 50%;
  right: 14px;
  top: -2px;
  font-weight: 400;
  cursor: pointer;
}
.quantity-span:hover .delivery-info {
  background-color: #fff;
  display: block;
}
.field-quantity {
  position: relative;
}
.modal-quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.modal-quantity-btn path {
  fill: rgba(0, 0, 0, 0.3);
}
.quantity-plus {
  top: 48px;
  right: 12px;
}
.quantity-minus {
  top: 48px;
  left: 11px;
}
.modal-quantity-btn:hover path {
  fill: rgba(0, 0, 0, 1);
}
.modal-quantity-btn:focus {
  outline: 2px solid #AF4FFF;
}
.modal-quantity-btn:active path {
  fill: rgba(0, 0, 0, 0.1);
}
.delivery-info {
  display: none;
  position: absolute;
  right: 50px;
  bottom: 47px;
  width: 200px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.delivery-info::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 6px;
  background-image: url(../img/popover/popover-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -6px;
  right: 40px;
}
.delivery-info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.modal-btn {
  position: relative;
  width: 200px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  padding: 0;
  padding: 10px 0;
  cursor: pointer;
  z-index: 0;
  margin-left: 2px;
}
.modal-btn::after {
  position: absolute;
  content: '';
  height: 8px;
  right: 0;
  left: 0;
  top: 17px;
  background-color: #FFC700;
  z-index: -1;
}
.modal-btn:hover {
  background-color: #FFC700;
}
.modal-btn:active {
  color: rgba(0, 0, 0, 0.3);
}
